@inject AspNetCoreLocalizationJson.Helper.Localization.IdentityLocalizationService localizer
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>AboutUs TR / @localizer.GetLocalizedHtmlString("Product")</h1>

